.chat_frined{
    display: flex;
    align-items: center;
    font-weight: 500;
    margin-top: 10px;
}
.online_friend_img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
    margin-right: 10px;
    border: 1px solid white;
}
.chat_friend_img{
    position: relative;
}
.friend_badge{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: limegreen;
    top:2px;
    right: 8px;
}
.friend_name{
    cursor: pointer;
}