.rightbarFriend{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}
.rightbarProfileImgContainer{
    margin-right: 10px;
    position: relative;
}
.rightbarProfileImg{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
.rightbarOnline{
    height: 12px;
    width: 12px;
    position: absolute;
    border-radius: 50%;
    background-color: limegreen;
    border: 2px solid white;
    top: -2px;
    right: 0;
}
.rightbarUsername{
    font-weight: 500;
}